*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    width: 90%;
    height: 100%;
    
    
}
nav{
    display: flex  ;
    height: 40%;
    width: 100%;
    margin-top: 80px;
 
    /* background-color: red; */
}

.logo-block{
    height: 100%;
    width: 28%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-block{
    height: 100%;
    width: 72%;
    background-color: black;
}
.logo-img{
    display: flex;
    width: 90%;
    height: 80%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.button-text{
    width: 161px;
    height: 56px;
    border-radius: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

